@model POE_p2_s4.Models.Claim

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimExpenses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimExpenses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaimStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaimStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
